---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { ABOUT } from "@consts";
import Link from "@components/Link.astro";
import Image from "astro/components/Image.astro";
---

<Layout title={ABOUT.TITLE} description={ABOUT.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <div class="space-y-10">
        <div class="animate font-semibold text-black dark:text-white">
          About myself
        </div>
        <section class="animate not-prose flex flex-col gap-4 text-justify">
          <p class="text-justify">Born in France, I am doing my PhD now in Copenhagen. Before that, in my previous 
            <Link href="https://csebastiao.github.io/CV/">
                  work experiences
            </Link>
            I worked in several other places in France (Marseille, Lyon, Grenoble, and Besançon) and in Turin.
          </p>

          <p class="text-justify">On my free time, I mostly play video games and read books (essays and literature),
            and I am always looking to expand the neverending list of recommendations for both.
          </p>

          <p class="text-justify">I wanted to do research as a child when I discovered that you can be paid to 
            learn, discover, and share that with others. I still have that childish wonder, but now I also believe
            that I can also support societal changes through my work. I am standing on the shoulder of giants,
            not only scientific ones but also the ones from everyone who gave me the privileges to do that job.
          </p>

        </section>

        <div class="flex flex-col md:flex-row justify-center">
          <div class="my-10 text-center">
            <div class="bg-neutral-300 w-[350px] h-[350px] object-cover rounded-xl overflow-hidden">
              <Image
                src={'/picture-me.jpg'}
                alt={'Picture of myself'}
                width={350}
                height={250}
                class="w-[350px] h-[350px] object-cover rounded-xl overflow-hidden"
              />
            </div>
            <p class="mt-4 text-sm">Say hi whenever 👋</p>
          </div>
          </div>
        </div>
      </div>
    </aside>
  </Container>
</Layout>
