---
import Layout from "@/layouts/Layout.astro";
import { profile } from "@/settings";
import BetterIcon from "@/components/ui/BetterIcon.astro";
import List from "@/components/ui/List.astro";
import {RESEARCH_ICONS} from "@/data/researchIcons";

const { research_areas } = profile;
---

<Layout title="Research | Clément Sebastiao">
  <div class="prose max-w-none">
    <h1 class="text-3xl font-bold mb-8">Research Statement</h1>

    <div class="mb-12">
      <p class="text-lg mb-6">
        My research focuses on developing and applying computational tools using Network and Data Science to address urban mobility challenges, incorporating knowledge from Urban Geography and Mobility Justice. 
      </p>
      <p class="text-lg mb-6">
        Working in this field drives me to work accross disciplines and accross stakeholders with universities, municipalities, companies, and NGOs.
      </p>
    </div>

    <h2 class="text-2xl font-bold mb-6">Research Areas</h2>
    <div class="grid gap-8 mb-12">
      {
        research_areas.map((area) => (
          <div class="flex gap-6 items-start">
            <BetterIcon>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke-width="2"
                class="size-6 stroke-accent"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d={RESEARCH_ICONS[area.field as keyof typeof RESEARCH_ICONS]?.path || RESEARCH_ICONS['computer-science'].path}
                />
              </svg>
            </BetterIcon>
            <div>
              <h3 class="text-xl font-semibold mb-2">{area.title}</h3>
              <p class="text-base">{area.description}</p>
            </div>
          </div>
        ))
      }
    </div>

    <List listTitle="Current Projects" listItems={[
      {
        title: "Bicycle Network Growth",
        description: "Development of network-based and data-driven methods to optimize the growth of protected bicycle infrastructures."
      },
      {
        title: "Superblockify",
        description: "Application of a method called 'Superblockify' focused on partitioning an urban street network into Superblock-like neighborhoods."
      },
    ]} />

  </div>
</Layout>
